*{
    margin: 0;
    padding: 0;
     font-weight: 400;
}
html{
    background-color: #fafafa;    
}
.container{
    border: 5px solid black;
    width: 70vw;
    height: 70vh;
}
.first{
    border: 5px solid yellow; 
    margin: 5px;
    max-width: 660px;
}
.second{
    border: 5px solid rgb(255, 0, 0); 
    margin: 5px;
    max-width: 600px;
}

